## QUALTRICS SPECIFIC ENV VARS (Only needed if using Qualtrics as input) ##

# This is the API Token to access Qualtrics API
QUALTRICS_API_TOKEN=78901

# This is the survey ID for the specific survey we want to use
QUALTRICS_SW_SURVEY_ID=12345

# This is the filename of the data being used once data can be uploaded
QUALTRICS_FILENAME="survey.json"



## DOCKER/DATABASE SPECIFIC ENV VARS (Required to set up docker container) ##
# This is the database username that will be used when setting up the database inside Docker container
DB_USER=hsm

# This is the database password that will be used when setting up the database inside Docker container
DB_PASS=hsm

# This is the database name that will be used when setting up the database inside Docker container
DB_NAME=hsm-db

# This is the database address that will be used
DB_ADDR=mlaas-db

# This is the web service container name inside Docker container
# If you are running more than one dataset, this needs to be unique
CONTAINER_NAME_WEB=mlaas-web

# This is the database service container name inside Docker container
# If you are running more than one dataset, this needs to be unique
CONTAINER_NAME_DB=mlaas-db

# This is the port being used in the host machine, when using API, this is the port being used locally
# If you are running more than one dataset, this needs to be unique
# If HOST_PORT=8080, the localhost address is http://127.0.0.1:8080 to access the API
HOST_PORT=8080



## API SPECIFIC ENV VARS (Only needed when using API) ##
# This is the secret key being used by the application
APP_SECRET_KEY=CHANGE_TO_SOMETHING_SECRETIVE

# This is the admin password for API
ADMIN=CHANGE_TO_SOMETHING_SECRETIVE

# This is the user password for API
USER=CHANGE_TO_SOMETHING_SECRETIVE



## CLOUD.GOV ENV VARS (Only needed when using API) ##
# This indicates that if Cloud.gov is being used for database and file storage, YES means we are, NO means we are not
# or if CLOUD_GOV environment variable is not here, we are not using Cloud.gov as well
CLOUD_GOV=NO

### CLOUD.GOV DATABASE SETTINGS ###
# To obtain these data, you will need to do a SSH-Tunneling to the Cloud.gov database
# Run `cf connect-to-service -no-client <cloud.gov app> <cloud.gov database binded to the app>` in a terminal
# It will give you the following output, pull the corresponding information out as environment variables:
# Finding the service instance details...
# Setting up SSH tunnel...
# SSH tunnel created.
# Skipping call to client CLI. Connection information:

# Host: localhost
# Port: <CLOUD_DB_PORT>
# Username: <CLOUD_DB_USER>
# Password: <CLOUD_DB_PASS>
# Name: <CLOUD_DB_NAME>

# Leave this terminal open while you want to use the SSH tunnel. Press Control-C to stop.

# Pull the data under `Username` above
CLOUD_DB_USER=hsm

# Pull the data under `Password` above
CLOUD_DB_PASS=hsm

# This information should not be changed, as we are using Docker to bring up our environment
# This will figure out the host address correctly
CLOUD_DB_ADDR=host.docker.internal

# Pull the data under `Port` above, this variable changes every time you run the command above
CLOUD_DB_PORT=5432

# Pull the data under `Name` above
CLOUD_DB_NAME=hsm-db
